<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nikita.mysecondapp" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Fantastic Hackathon</name>
    <description>
        Попробуем обернуть лендинг, сделанный мной не так давно.
    </description>
    <author email="4esnog96@gmail.com" href="http://c-nik.xyz">
        Nikita Chesnokov
    </author>
    <icon src="img/basketball.png" />
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://*" launch-external="yes" />
    <access origin="https://*" launch-external="yes" />
</widget>
