@import 'normalize.css';
@import url(https://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic,cyrillic-ext);

/* font-family: 'Oranienbaum', serif; */

:root {
  --light: #dfe0dc;
  --dark: #351431;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: var(--light);
  padding: 2rem;
}

h1 {
  font-family: 'Oranienbaum';
  text-align: center;
  font-size: 3em;
}

.popup-wr {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
}

.popup {
  box-sizing: border-box;
  display: inline-block;
  padding: 2em;
  position: relative;
  margin: 0 auto;
  min-width: 50vw;
  max-width: 90%;
  top: 20vh;
  text-align: left;
  font-size: 1.4rem;
  background-color: var(--light);
  box-shadow: 0 1em 3.5em -0.8em rgba(0, 0, 0, 0.5);
  z-index: 999;

  & strong {
    display: block;
    margin: 0 0.8em 0.5em;

  }

  & form {
    vertical-align: top;
    /* padding: 0.8em; */

    & label {
      display: block;
      padding: 0.5em 0.8em;
      margin-bottom: 0.5em;

      &:hover {
        background: rgba(255, 255, 255, 0.3);
        cursor: pointer;

      }

    }

    & input[type="file"] {
      box-sizing: border-box;
      display: block;
      
      /* padding: 0.8em; */
      font-size: 0.9em;
      width: 100%;
      
      &:hover {
        cursor: pointer;

      }
      
    }

    & button {
      background: var(--dark);
      border: none;
      color: #fff;
      padding: 0.7em 2em;
      margin: 0.1em 0.8em;
      font-size: 1em;
      transition: all 0.1s ease-in-out;

      &:hover {
        cursor: pointer;
        background: color(var(--dark) l(+20%));
        box-shadow: 0 0.3em 0.3em -0.2em rgba(0, 0, 0, 0.8);
        transform: translateY(-0.05em);

      }

      &:active {
        background: var(--dark);
        transform: translateY(0);
        box-shadow: 0 0.15em 0.2em -0.1em rgba(0, 0, 0, 0.8);
      }

      &:focus {
        outline: none;
      }

    }

  }

}

canvas {
  display: block;
  margin: 0 auto;
}