@import '../libs/normalize-css/normalize.css'

// ==================================

$width-lg: 1024px
$width-md: 768px

@mixin clearfix()
	&::after
		content: ""
		display: table
		clear: both


// ==================================


body
	font-size: 18px
	font-family: Georgia, serif

h2
	text-transform: uppercase
	font-size: 1.8em
	letter-spacing: 0.1em
	margin: 0 0 5vh

article, footer
	overflow: hidden
	padding-bottom: 10vh
	font-size: calc(0.95em + 13 * (100vw - 320px) / (1024 - 320) )


	@media screen and (min-width: $width-lg)
		font-size: calc(0.7em + 15 * (100vw - 1024px) / (2000 - 1024) )

	&:first-of-type
		main .wr > p:first-of-type
			margin-top: 1em
			&::first-letter
				font-size: 3em
				line-height: 0.5
				font-weight: bolder

	.banner, .full-img
		position: relative
		height: 80vh
		color: #fff
		margin: 0 0 8vh
		text-align: center
		background-size: cover
		background-position: center center
		background-attachment: fixed
		overflow: hidden
		z-index: 1
		will-change: background-position, background-size
		// @include clearfix

		// &::before
		// 	content: ' '
		// 	position: fixed
		// 	width: 100%
		// 	height: 100%
		// 	top: 0
		// 	left: 0
		// 	background: attr(data-bg-img url) no-repeat center center
		// 	background-size: cover
		// 	will-change: transform
		// 	z-index: -1

		.mask
			box-sizing: border-box
			display: flex
			flex-flow: column nowrap
			justify-content: center
			align-items: center
			padding: 1.3em
			position: relative
			background: rgba(0,0,0,.35)
			height: 100%
			z-index: 2
			
			@media screen and (min-width: $width-md)
				padding: 2em

			h1
				font-size: 2.3em
				text-transform: uppercase
				letter-spacing: 0.3em

				@media screen and (min-width: $width-lg)
					font-size: 3.8em

				small
					font-size: 0.4em
					letter-spacing: 0.2em
					font-weight: normal

					@media screen and (min-width: $width-lg)
						font-size: 0.3em

			h2
				line-height: 1.8
				font-size: 1.3em
				letter-spacing: 0.3em
				@media screen and (min-width: $width-lg)
					font-size: 2.2em

		address
			bottom: 1.3em
			left: 0
			// right: 0
			padding: 0 1.3em
			position: absolute
			text-align: center
			width: calc(100% - 2.6em)
			font-size: 0.85em
			font-style: normal

			@media screen and (min-width: $width-md)
				bottom: 2em
				width: calc(100% - 4em)
				padding: 0 2em

			@media screen and (min-width: $width-md)
				font-size: 1em

	.full-img
		height: 100vh

	main
		line-height: 1.3
		overflow: hidden
		// word-wrap: break-word
		// word-break: break-all
		hyphens: auto
		text-align: justify	

		.wr
			margin: 0 auto
			position: relative
			
			@media screen and (min-width: $width-md)
				padding: 0 16px

			@media screen and (min-width: $width-lg)
				box-sizing: border-box
				padding: 0
				margin: 0 calc(40px + 200 * (100vw - 1024px) / (2000 - 1024))

			h2
				margin: 0 5vw 5vh

				@media screen and (min-width: $width-lg)
					margin: 0 0 5vh

			p
				box-sizing: border-box
				margin: 0 5vw 5vh

				@media screen and (min-width: $width-lg)
					font-size: 1.2em
					width: 63%
					margin: 0 0 5vh
					padding: 0 8% 0 0

			&>p
				@media screen and (min-width: $width-lg)
					&:last-of-type
						margin-bottom: 0

			img
				max-width: 100%
				margin: 0 0 1em

			aside
				box-sizing: border-box
				padding: 0 5vw
				margin: 0 5vw 5vh

				@media screen and (min-width: $width-md)
					padding-left: 1em

				@media screen and (min-width: $width-lg)
					font-size: 1.2em
					margin: 0 0 5vh
					padding: 0 0 0 2%
					width: 37%
					position: absolute
					right: 0
					@include clearfix()
				
				&.top
					top: 0

				&.bottom
					bottom: 0

				img
					width: 100%

				&.full-width
					margin: 0 0 5vh
					padding: 0

					p, strong, small
						display: block
						padding: 0 10vw

						@media screen and (min-width: $width-lg)
							padding: 0

					@media screen and (min-width: $width-md)
						padding-left: 1em

					@media screen and (min-width: $width-lg)
						padding: 0 0 0 2%
						margin: 0 0 5vh

				&.quote
					border-left: 0.2em solid #eee
					padding: 0 5vw 0 calc(5vw - 0.2em)

					@media screen and (min-width: $width-md)
						padding-left: calc(1em - 0.2em)

					@media screen and (min-width: $width-lg)
						padding: 0 0 0 calc(2% - 0.2em)

			& :last-child
				margin-bottom: 0 !important

footer
	padding-bottom: 0
	
	figure.banner
		margin: 0
	
	strong
		font-size: 1.3em
		text-transform: uppercase
		letter-spacing: 0.3em

		@media screen and (min-width: $width-md)
			font-size: 2em

		@media screen and (min-width: $width-lg)
			font-size: 3.2em